{% extends "_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}
<div class="container" data-module="JumpingSquare">
	<canvas width="640" height="640"></canvas>
</div>
{% endblock %}